[main]
pg1-path={{ postgres.data_dir }}

[global]
repo1-path={{ paths.postgres }}
repo1-host={{ hosts.backup }}
repo1-host-user={{ postgres.owner_psql_backupdir }}

log-path={{ paths.logs_pg }}
log-level-file=info
log-level-console=info