#!/usr/bin/env bash

# ---------------------------------------------------------------
# Проверка интерактивной оболочки
# ---------------------------------------------------------------
[[ $- != *i* ]] && return

# ---------------------------------------------------------------
# Цвета
# ---------------------------------------------------------------
RED="\e[31m"
GREEN="\e[32m"
YELLOW="\e[33m"
BLUE="\e[34m"
BOLD="\e[1m"
RESET="\e[0m"

# ---------------------------------------------------------------
# Интерактивный блок при старте shell
# ---------------------------------------------------------------
echo
echo -e "${BOLD}${RED}==============================================================${RESET}"
echo -e "${BOLD}${RED}                         BACKUP SERVER                        ${RESET}"
echo -e "${BOLD}${RED}==============================================================${RESET}"
echo

echo -e "${YELLOW}${BOLD}Автоматизация:${RESET}"
echo -e "  • Ежедневные инкрементальные бэкапы (PostgreSQL + Docker volumes)"
systemctl list-timers | grep backup_daily.timer
echo -e "  • Еженедельный full backup"
systemctl list-timers | grep  backup_full.timer 
echo -e "      – включает: etcd, configs, full PostgreSQL, Docker volumes"
echo -e "      – удаляет конфиги старше {{ backup_retention.config_days }} дней"
echo -e "      – удаляет etcd старше {{ backup_retention.etcd_days }} дней"
echo -e "      – удаляет Docker volumes backup старше {{ backup_retention.docker_days }} дней"
echo

echo -e "${BOLD}${BLUE}Использование дисков:${RESET}"
echo
df -hT / {{ paths.base }} 2>/dev/null | sed 's/^/  /'
echo

echo -e "${GREEN}Каталог хранения бэкапов:${RESET}"
echo -e "  ${BOLD}{{ paths.base }}${RESET}"
echo

echo -e "${GREEN}${BOLD}Алиасы и логи:${RESET}"
echo -e "  ${BOLD}aliasw${RESET}  – редактирование и перечитывание алиасов"
echo -e "  ${BOLD}log_backup_config${RESET}     – логи службы backup_config"
echo -e "  ${BOLD}log_psql_backup${RESET}       – логи pgBackRest"
echo -e "  ${BOLD}log_full_backup${RESET}       – логи службы backup_full"
echo -e "  ${BOLD}log_daily_backup${RESET}      – логи службы backup_daily"
echo -e "  ${BOLD}log_clean_backup${RESET}      – логи очистки бэкапов"
echo

echo -e "${GREEN}${BOLD}Ручной запуск:${RESET}"
echo -e "  ${BOLD}backup_configs${RESET}       – запуск службы backup_config"
echo -e "  ${BOLD}backup_psql_incr${RESET}     – инкрементальный бэкап PostgreSQL"
echo -e "  ${BOLD}backup_psql_full${RESET}     – полный бэкап PostgreSQL"
echo -e "  ${BOLD}backup_volumes${RESET}       – бэкап Docker volumes"
echo

echo -e "${GREEN}${BOLD}Восстановление:${RESET}"
echo -e "  ${BOLD}restore_etcd <backup>.db${RESET}"
echo -e "      пример: etcd_restore {{ paths.etcd }}/etcd_YYYY-MM-DD_HH-MM-SS.db"
echo
echo -e "  ${BOLD}Правило: hostname=ssh_alias${RESET}"
echo -e "  ${BOLD}алиасы действуют от root${RESET}"
echo

echo -e "${BOLD}${RED}==============================================================${RESET}"