#!/bin/bash

echo -e "=== Бэкапится только база и {{ hosts.back }}:/var/lib/docker/volumes ==="
echo -e "=== Starting backup_daily: $(date '+%Y-%m-%d %H:%M:%S') ==="

echo -e "Начало потокового бэкапа /var/lib/docker/volumes с {{ hosts.back }}. Full only"
ssh "{{ hosts.back }}" 'tar czpf - -C / var/lib/docker/volumes' | cat > {{ paths.volumes }}/$(date +%F-%H%M%S).tar.gz
echo -e "Начало инкремента postgres"
pgbackrest --stanza=main --type=incr backup

echo "=== $(date) /clean docker_volumes backups ===" >> {{ logs.clean_backup }}
find {{ paths.volumes }} -type f -name "*.tar.gz" -mtime +{{ backup_retention.docker_days }} \
  -print -delete >> {{ logs.clean_backup }} 2>&1

echo -e "=== Finished backup_daily: $(date '+%Y-%m-%d %H:%M:%S') ==="